:root {
    --transition-duration: 0.5;
    --btn-dark-purple: #3D1389FF;
    --btn-light-purple: #9162E8FF;
}

body {
    margin: 0;
    background: #111112;
    font-family: Arial, Monospace, sans-serif;
}

.container {
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 250px;
    background: #1c1c31;
    border-radius: 5px;
    box-shadow: 1px 5px 5px black;
}

.login-form {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.login-title {
    font-weight: 700;
    font-size: 25px;
    padding: 9px;
}

.login-input-info {
    font-size: 12px;
    text-align: left;
    position: relative;
    left: -90px;
    margin: 0;
    font-weight: 700;
}

.login-input-info2 {
    font-size: 12px;
    text-align: left;
    position: relative;
    left: -66px;
    margin: 0;
    font-weight: 700;
}

.login-input-info3 {
    font-size: 12px;
    text-align: left;
    position: relative;
    left: 100px;
    margin: 0;
    font-weight: 700;
}

.login-input-info4 {
    font-size: 12px;
    text-align: left;
    position: relative;
    left: -80px;
    margin: 0;
    font-weight: 700;
}


input:not(:hover),
input {
    transition: var(--transition-duration);
    color: white;
    font-size: 14px;
    margin: 8px 0;
    background: var(--btn-dark-purple);
    border: 1px solid #5f2eb2;
    border-radius: 5px;
    outline: 0;
    width: 85%;
    padding: 4px;
}

input:hover {
    background: #753fdb;
}

.btn:not(:hover),
.btn {
    transition: var(--transition-duration);
    text-decoration-color: initial;
    background-color: transparent;
    color: var(--btn-light-purple);
    border: 1px solid var(--btn-dark-purple);
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    text-align: center;
}

.btn:hover {
    color: white;
    background: var(--btn-dark-purple)
}

.login-footer {
    font-size: 12px;
    float: left;
    padding: 25px 10px 10px;
}

a:not(:hover),
a {
    transition: var(--transition-duration);
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--btn-light-purple)
}